$nav-background-color: rgba(12, 11, 9, 0.61);
$nav-color: #ffffff;
$nav-hover-color: #cda45e;
$nav-mobile-background-color: #29261f;
$nav-dropdown-background-color: #29261f;
$nav-dropdown-color: #ffffff;
$nav-dropdown-hover-color: #cda45e;
$background-color: #0c0b09;
$default-color: rgba(255, 255, 255, 0.7);
$heading-color: #ffffff;
$accent-color: #cda45e;
$surface-color: #29261f;
$contrast-color: #0c0b09;
$default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$heading-font: "Playfair Display", sans-serif;
$nav-font: "Poppins", sans-serif;