@use "../../variables";
.title {
    padding: 0 12px 60px;
    h2 {
        font-size: 14px;
        color: variables.$default-color;

        &:after {
            display: inline-block;
            content: '';
            width: 120px;
            background-color: variables.$accent-color;
            height: 1px;
            margin: 4px 10px;
        }
    }
    p {
        font-size: 36px;
        font-weight: 600;
        color: variables.$accent-color;
    }
}

.box-container {
    display: flex;
    gap: 10px;

    .box {
        background: color-mix(in srgb, variables.$default-color, transparent 95%);
        padding: 50px 30px;

    }
}

